.login {
    height: auto;
    width: 100%;
    color: #fff;
}

.login .title {
    font-size: 14px;
    height: 60px;
    border-bottom: 1px solid #0073CF;
    margin-top: 20px;
    padding-left: 18px;
}

.login .inputs-login {
    height: 500px;
    width: 100%;
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /* background-color: #0073CF; */
}

.inputs-login label{
    margin-bottom: 10px;
    margin-right: 100px;
    font-size: 20px;
}
.inputs-login input {
    height: 35px;
    width: 200px;
    max-width: 250px;
    border-radius: 10px;
    border: 2px solid #0073CF;
    background: transparent;
    color: #fff;
    text-align: center;
    margin-bottom: 35px;
}
input:focus, input:focus {
    box-shadow: 0 0 0 0;
    outline: 0;
    border: solid 3px #0073CF;
}
.button-logar{
    border: #fff solid 1px;
}
.inputs-login p{
    margin-top: 50px;
}
.inputs-login p a{
    color: #0073CF;
    text-decoration: none;
}