@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600&display=swap');
:root {
    --white: #f5f5f5;
    --black: #171717;
    --black2: #0e0c0c;
    --gray: #a8a29e;
    --purple: #9f37ea;
}

* {
    padding: 0;
    margin: 0;
    font-family: 'Josefin Sans', sans-serif;
    box-sizing: border-box;
}

html {
    font-size: 65%;
    scroll-behavior: smooth;
}

body {
    min-height: 100vh;
    overflow-x: hidden;
    background: var(--black);
}

span {
    color: var(--purple);
}

.nav-list a {
    font-size: 16px;
}

.about {
    padding: 2rem 7%;
}

.main-about {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
}

.about-content {
    flex: 1 1 45rem;
}

.about-inner {
    width: 100%;
    margin: 0 auto;
    padding-top: 3rem;
    padding-bottom: 3rem;
}

.about-content .about-inner img {
    width: 80%;
    margin-left: 100px;
}

.about-text {
    padding: 0 4rem;
}

.about-text h1 {
    color: var(--purple);
    font-size: 40px;
    margin-bottom: 15px;
}

.about-text p {
    color: var(--white);
    font-size: 1.5rem;
    line-height: 35px;
}

.logos {
    padding: 4rem 7%;
}

.main-logos {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 15px;
}

.main-inner {
    flex: 1 1 45rem;
}

.logos-content {
    padding: 0 4rem;
}

.logos-content h1 {
    color: var(--purple);
    font-size: 40px;
    margin-bottom: 15px;
}

.logos-content p {
    color: var(--white);
    font-size: 1.5rem;
    line-height: 30px;
}

.logos-image {
    width: 100%;
}

.logos-image img {
    width: 100%;
    object-fit: cover;
}

@media screen and (max-width: 999px) {
    .logos {
        margin-top: 10%;
    }
}