@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:opsz,wght@6..12,200;6..12,300;6..12,400&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


* {
    border: 0;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Nunito Sans', sans-serif;
}

body {
    background-color: #181818;
}

.App .whats {
    width: 40px;
    height: 40px;
    position: fixed;
    bottom: 20px;
    left: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    background: #14870C;
}
.whats a{
    display: flex;
    justify-content: center;
    align-items: center;
}
.whats i{
    font-size: 27px;
    color: #fff;
}
.App .carrinho{
    width: 40px;
    height: 40px;

    position: fixed;
    bottom: 70px;
    left: 20px;


    display: flex;
    justify-content: center; 
    align-items: center;

    border-radius: 50px;
    background: #0c1c87;


}

.carrinho i{
    font-size: 15px;
    color: #fff;

}

.App .scroll{
    height: 50px;
    width: 50px;
    position: fixed;
    bottom: 60px;
    right: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
  
}
.scroll button{
    background-color: transparent;
    cursor: pointer;
}
.scroll button i{
    color: aliceblue;
    font-size: 30px;
    animation: seta 2s ease-in-out infinite;
}

@keyframes seta{
    0%{
        transform: scale(1.2);
    }
    50%{
        transform: scale(1);
    }
    100%{
        transform: scale(1.2);
    }
}