.capinhas {
    margin-top: 120px;
    height: auto;
    /* background-color: antiquewhite; */
}

.capinhas section {
    height: 50px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
}

.capinhas section p {
    color: #fff;
}

.capinhas section input {
    border-radius: 10px;
    text-align: center;
}

.capinhas .itemPesquisa {
    /* background-color: aqua; */
    height: auto;

    margin-top: 50px;

    overflow-x: scroll;
    scroll-snap-type: x mandatory;
    scroll-padding-left: 20px;

    display: grid;
    width: 100%;
    grid-auto-flow: column;
    gap: 10px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;

    border-bottom: solid 1px #fff;
}

.capinhas .itemPesquisa article {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    height: 300px;
    width: 200px;
    background: rgba(36, 36, 36);
    box-shadow: 0px 4px 100px 0px #000 inset;
    color: #fff;
    gap: 10px;

}

.capinhas .itemPesquisa article img {
    height: 150px;
}

.capinhas .itemPesquisa article button {
    background-color: #01c929;
    color: #fff;
    width: 70%;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;

    margin-top: 10px;
}

.capinhas main {
    height: auto;
    width: 100%;
    margin-top: 50px;
    display: flex;
    flex-wrap: wrap;

    gap: 5px;

    justify-content: center;

}

.capinhas main .itemCapinhas {
    width: 170px;
    height: 270px;
    background: rgba(36, 36, 36);
    box-shadow: 0px 4px 100px 0px #000 inset;
    color: #fff;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    overflow: hidden;

}

.capinhas main .itemCapinhas img {
    height: 120px;
    width: 120px;
}

.capinhas main .itemCapinhas p {
    font-size: medium;
    margin-bottom: 15px;
}

.capinhas main .itemCapinhas h1 {
    font-size: medium;
    margin-top: 15px;
}
.capinhas main .itemCapinhas button {
    background-color: #01c929;
    color: #fff;
    width: 70%;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;

    margin-top: 10px;
}