.conteudoClienteHome{
    width: 100%;
    height: auto;
    margin-top: 34px;
}
.conteudoClienteHome  .title {
    width: auto;
    height: auto;
    margin-top: 34px;
    display: flex;
    justify-content: left;
    align-items: center;
    padding-left: 18px;
    color: #ffff;
}

.title h1 {
    font-size: larger;
}

.title svg {
    margin-left: 13px;
    margin-top: 3px;
}
.conteudoClienteHome .conteudo{
    width: 100%;
    height: auto;
 
}
.conteudo  section{
    width: 100%;
    height: 240px;
    margin-top: 25px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 7px;
    /* padding: 0 1px; */
}
section .conteudoCliente {
    height: 90%;
    width: 120px;
    background: rgba(36, 36, 36, 0.64);
    box-shadow: 0px 4px 100px 0px #000 inset;
    border-radius: 10px;
    color: #ffff;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.conteudoCliente .produto{
    width: 90%;
    height: 30px;
    background-color: #0073CF;
    margin-top: 15px;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.conteudoCliente .produto a{
    font-size: small;
    color: #ffff;
    text-decoration: none;
}

.conteudoCliente figure {
    height: 60%;
    width: 100%;
    border-radius: 10px 10px 0 0;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.conteudoCliente figure img {
    object-fit: cover;
    width: 80%;
    
}
.conteudoCliente h2{
    font-size: small;
    margin-top: 10px;
}
